@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");


* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    
 }
 
 body {
    background-color: #00ffb3;
    
    
 }
 
 form {
    background-color:orange;
    padding: 80px;
    width: 70%;
    margin: 100px auto;
    text-align: center;
    border-radius: 1px 50px;
	border: 2px solid rgb(255, 0, 255);
    box-shadow: 5px 10px rgb(255, 0, 179);
 }
 form:hover{
    background-color: rgb(61, 190, 190);
    }
 
 
 #templabel label {
    font-size: 20px;
 }
 #tempinput {
    border: none;
    padding: 10px;
    height: 40px;
    width: 130px;
    font-size: 15px;
    margin-top: 20px;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 6px 6px 2px 2px #4e0a1d;
    margin:20px;
    border: 5px solid rgb(218, 111, 23);
 }

 #tempselect {
    height: 40px;
    width: 130px;
    color: red;
    margin-top: 20px;
    font-size: 15px;
    vertical-align: top;
    border: 5px solid rgb(218, 111, 23);
    display: inline-block;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 6px 6px 2px 2px #4e0a1d;
    margin:20px;
    }

 ::placeholder {
    color: red;
    opacity: 1; /* Firefox */
  }
 [type="SUBMIT"] {
    height: 40px;
    width: 130px;
    color: red;
    margin-top: 20px;
    font-size: 15px;
    vertical-align: top;
    border: 5px solid rgb(218, 111, 23);
    display: inline-block;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 6px 6px 2px 2px #4e0a1d;
    margin:20px;
    cursor: pointer;
 }
 [type="RESET"]:hover{
     color: chartreuse;
 }
 [type="RESET"] {
    height: 40px;
    width: 130px;
    color: red;
    margin-top: 20px;
    font-size: 15px;
    vertical-align: top;
    border: 5px solid rgb(218, 111, 23);
    display: inline-block;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 6px 6px 2px 2px #4e0a1d;
    margin:20px;
    cursor: pointer;
 }
 [type="SUBMIT"]:hover{
     color: chartreuse;
 }
 #result {
    font-size: 30px;
    
 }